rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /nodes/{nodeId} {
      allow read: if request.auth != null &&
                  (resource.data.customerId == request.auth.uid ||
                   request.auth.token.role == "superadmin");
      allow write: if request.auth != null && request.auth.token.role == "superadmin";
    }

    match /customers/{customerId} {
      allow read: if request.auth != null && 
                  request.auth.uid == customerId;
                  
      allow write: if request.auth != null && 
                   request.auth.token.role == "superadmin";
    }

    match /communities/{communityId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && 
                   request.auth.token.role == "superadmin";
    }

    match /zones/{zoneId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && 
                   request.auth.token.role == "superadmin";
    }

    match /audit_logs/{logId} {
      allow read, write: if request.auth != null && 
                            request.auth.token.role == "superadmin";
    }

  }
}
